/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(150deg, #000000, #9a871f); /* Diagonal gradient from black to gold */
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

h2 {
    font-size: 2em;
    color: #ffffff; 
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 5px #796910, 0 0 10px #342e09, 0 0 15px #89770e;
    animation: glow 1.5s ease-in-out infinite alternate;
}

/* Animation for glowing effect */
@keyframes glow {
    0% {
        text-shadow: 0 0 5px #423908, 0 0 10px #72640f, 0 0 15px #a08b16;
    }
    100% {
        text-shadow: 0 0 10px #4c420b, 0 0 20px #6b5d10, 0 0 30px #8d7c19;
    }
}

   /* h3 Styles */
h3 {
    font-family: 'Playfair Display', serif; /* Elegan font */
    font-size: 1em;
    color: #ffd700; /* Gold */
    margin-bottom: 80px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    letter-spacing: 1px;
    text-transform:none;
    font-weight: 600;
}

.menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    background-color: #000;
    color: #ffd700; /* Gold */
    font-size: 1.2em;
    padding: 15px 30px;
    border: 2px solid #ffd700;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* Hover and active state animations */
button:hover {
    background-color: #ffd700;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(255, 215, 0, 0.6); /* Add a softer glowing effect */
    text-shadow: 0 0 10px #ffd700, 0 0 15px #ffd700; /* Softer glow effect */
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}

/* Button Kilap Effect */
button:hover {
    background: linear-gradient(45deg, #ffd700 20%, #ffcc00);
    animation: kilap 1.5s infinite alternate;
}

/* Animation for Kilap */
@keyframes kilap {
    0% {
        text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700;
    }
    100% {
        text-shadow: 0 0 15px #ffd700, 0 0 30px #ffd700;
    }
}

